@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,400&display=swap');

$brand-primary: #1798c1;
$text-inverse: #FFF;

.brand-image {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-action {
  padding: 0.5rem 1rem;
}

button {
  background-color: $brand-primary;
  border: 0;
  border-radius: 0.25rem;
  color: $text-inverse;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  outline: 0;
  padding: 0.5rem 1rem;
}

h1, a {
  color: $brand-primary;
}
